@import "../../styles/variables.scss";

.Header {
  background-color: $red-dark;
  background-image: url("../../../static/images/denim_tile_darkred.jpg");
  background-repeat: repeat-x;
  background-size: 100px;
  max-height: 64px;
  min-height: 64px;
  justify-content: flex-end;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  &__logo {
    position: absolute;
    top: 30%;
    left: 20px;
  }

  &_list-item {
    text-transform: capitalize;
  }
}
